[Unit]
Description=Messenger Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/Messenger/
ExecStart=/bin/bash run.sh

[Install]
WantedBy=multi-user.target
