# Build output
*build/
.gradle/
bin/

# IntelliJ IDEA Project Files
.idea/
*.iml

# VSCode Project Files
.vscode/

# Compiled Python
*.pyc
*__pycache__/
*.so

# Compiled Java
*.class

# Log Files
*.log

# Tests
Vision/Test.py

# WPI Settings
.OutlineViewer/

# Emacs temporary files
*~

# Local Properties File
local.properties


# ImGui storage files
ShuffleLog/layout.ini
**/imgui.ini
**/simgui.json
**/simgui-ds.json

# NetworkTables storage
**/networktables.ini
**/networktables.ini.bak

Robot/waypoints.tsv
