[Unit]
Description=Task Manager
After=network.target
Requires=messenger.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/TaskManager/
ExecStart=/bin/bash run.sh

[Install]
WantedBy=multi-user.target
